*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    font-size: 19px;
}
body {
    height: 100vh;
    background-image: url(fotos/fondo-section1.jpeg);
    background-size: cover;
    background-position: center;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover {
    color: rgb(195, 220, 243);
}
.togle {
    color: #fff ;
}
.togle:hover{
    color:  rgb(195, 220, 243);
    cursor: pointer;
}
header {
    position: relative;
    padding: 0 2rem;
}
.navbar {
    width: 100%;
    height: 3em;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .togle {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.unete {
    background-color: #5DADE2;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}
.unete:hover {
    scale: 1.05;
    color: #fff;
}
.unete:active {
    scale: 0.95;
}
.menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu.open{
    height: 240px;
}
.menu li{
    padding: 10.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu .unete {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section1{
    height: 80vh;
}
section .contenedor {
    height: 750px;
    width: 100%;
    text-align: center;
    border: 3px solid #00000010;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-top: 100px;
}
.glass {
    background: #ffffff10;
    backdrop-filter: brightness(60%);
}
.contenido1 {
    height: 700px;
    width: 600px;
    margin:auto
}
.contenido1 h1 {
    font-size: 50px;
    color: #fff;
    padding-top: 110px;
}
.contenido1 p {
    font-size: 26px;
    color: white;
}
.section2 {
    height: 80vh;
}
/*Formulario*/
.contenido2 {
    height: 647px;
    width: 500px;
    margin: auto;
}
.form-content {
    width: 100%;
    max-width: 450px;
    background: #2c2f35;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
}
.form-content h1 {
    font-size: 30px;
    margin-bottom: 55px;
    color: #fff;
    position: relative;
}
.form-content h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field {
    background: #515966;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 05s;
    overflow: hidden;
}
input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #fff;
}
input::placeholder {
    color: #fff;
}
.input-field i {
    margin-left: 15px;
    color: #fff;
}
form p {
    color: #fff;
    text-align: left;
    font-size: 13px;
}
form p a {
    color: #fff;
    margin-left: 5px;
}
.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field #signIn {
    padding: 10px 0;
    flex-basis: 48%;
    font-size: 18px;
    background: #04bd7d;
    color: #fff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
textarea {
    width: 100%;
}

footer {
    background-color: #404040;
    width: 100%;
    padding: 1em 0;
    color: #fff;
    bottom: 0;

 }
footer p {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
    padding-left: 20px;
}
.pie {
    width: 80%;
    height: 120px;
    padding-left: 330px;
}
.pie p {
    padding-top: 20px;
}
.UADE {
    font-family: 'Judson', serif;
    font-size: 1.8em;
    padding-top: 5px;
    float: right;
}
@media(max-width: 992px){
    .navbar .links,
    .navbar .unete {
        display: none;
    }
    .navbar .togle {
        display: block;
    }
    .menu {
        display: block;
    }
    .section1 .contenedor {
        margin-top: 250px;
    }
    .pie {
        padding-left: 1em;
    }
}
@media(max-width: 695px) {
    footer .pie {
        width: 90%;
    }   
    .pepe {
        padding-left: 10px;
    }
    .UADE {
        float: none;
        padding-left: 1em;
    }
}
@media(max-width: 630px) {
    .section2 {
        height: auto;
        margin-top: 70px;
    }
    .contenido1{
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    .contenido1 h1 {
        font-size: 26px;
    }
    .contenido2 {
        width: 100%;
        margin-top: 140px;
    }
    .pepe {
        padding-left: 0;
    }
}
@media(max-width: 520px) {
    .pie {
        width: 90%;
    }
    footer {
        height: auto;
        padding: 0;
    }
    footer p {
        padding-top: 20px;
      }

    .matias {
        padding-left: 25px;
    }
    .joaquin {
        float: none;
        padding-left: 0;
    }
    .pepe {
        padding-left: 0px;
    }
    .Unidos {
        font-size: 1.5em;
        padding-top: 100px;
        padding-left: 100px;
    }
    .UADE {
        float: none;
        padding-left: 1em;
    }
}
@media(max-width: 519px) {
    .pie {
        width: 80%;
    }
    .joaquin {
        float: none;
        padding-left: 0;  
    }
    .pepe {
        padding-left: 10px;
    }
    .UADE {
        padding-left: 1em;
        float: none;
    }
}
@media (max-width: 489px){
    .UADE {
       padding-left: 25px;
    }
}
@media(max-width: 420px) {
    .UADE {
        float: none;
        padding-left: 1em;
    }
    .section2 {
        height: 70vh;
    }
    .pie {
        height: 150px;
    }

    .joaquin {
        padding-left: 0px;
    }
    .matias {
        padding-top: 10px;
    }
    .pepe {
        padding-top: 10px;
    }
    .UADE {
        padding-left: 10px;
    }
}